* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.justify-center{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: white;
}

.register-form {
    display: flex;
    flex-direction: column;
    background: white;
    width: 85%;
}

.half-box {
    margin-right: 16px;
    display: flex;
    padding: 8px;
    flex-direction: column;
}



