@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*,::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000020 ;
    font-family: 'Poppins', sans-serif;
}

label {
    color: #ffffff;
}

.container01 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form_box {
    display: flex;
    flex-direction: column;
    background: #000020 ;
    border-radius: none;
    width: 700px;
    height: 95%;
}

.form_box .title{
    padding: 20px 28px;
    font-size: 24px;
    color: #ffffff;
    border-bottom: thin solid #ffffff;
}

.form_box .titlecliente{
    font-size: 24px;
    border-bottom: thin solid #000020;
}

.form_box button {
    display: block;
    border: none;
    outline: none;
    width: 120px;
    height: 38px;
    border-radius: 10px;
    background-color: #fada28;
    color: #000020;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.form_box button:hover {
    background: #000020e3;
}

.form-childs {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    padding: 30px;
}

.checks {
    display: flex;
}

.form_box input, .form_box textarea, .form_box select {
    width: calc(50% - 8px);
    height: 42px;
    border-radius: 10px;
    border: thin solid #000020;
    padding-left: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    background: #ffffff9c;
}

.form_box input:first-child{
    margin-right: 16px;
}

.form_box textarea{
    width: 100%;
    height: 100px;
    padding: 16px;
    font-family: 'Poppins', sans-serif;

}

 .form_box_button {
    display: block;
    border: none;
    outline: none;
    width: 180px;
    height: 42px;
    border-radius: 10px;
    background-color: #000020;
    color: #fada28;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form_box button:hover {
    background: #000020e3;
}


@media only screen and (max-width: 600px) {
    #form-childs {
        align-items: center;
        justify-content: center;
    }

    .form_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 80%;
    }

    .form_box input:first-child, #third, #fifth, #seventh{
        margin-right: none;
    }


    .form_box textarea {
        width: 90%;
        height: 100px;
    }


}
